<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit</title>
</head>

<body>
    <h1>Edit</h1>
 <form action="/comments">
    <textarea name="comment" id="" cols="30" rows="5">
        <%= comment.comment %> 
        <!-- here we're basically collecting the comment in the textfield so we can edit it -->
    </textarea>
    <button>Submit</button>
 </form>
</body>

</html>