<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit</title>
</head>

<body>
    <h1>Edit</h1>
    <form method="post" action="/comments/<%= comment.id %>/edit?_method=PATCH ">
        <textarea name="comment" id="" cols="40" rows="10">
        <%= comment.comment %> 
    </textarea>
        <button>Submit</button>
    </form>
    <!-- here we're basically collecting the comment in the textfield so we can edit it -->
    <!-- alsos the ?_method=PATCH is the override method we downloaded that will aloow us to patch -->
</body>

</html>