<%- include('partials/head') %>

    <body>
        <h1>The Home Page <%= 'Hello World' .toUpperCase() %>
        </h1>
        <!-- this  works like an objects literal and will evualite to a javascript so here 10 -->
        <!-- i've also donwloded the ejs lang support here -->
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Possimus quae non nemo aliquam repudiandae
            consequuntur, inventore repellat tenetur laborum accusantium, in placeat magni eum. Modi pariatur quaerat
            odit
            saepe quos?. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aliquam error aliquid architecto
            minima
            adipisci explicabo soluta ratione tempora molestias dolor fugiat maiores hic recusandae, dolorem facere
            harum
            ipsam ducimus minus!</p>

        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quis officia ipsum animi, est veniam quia pariatur
            sint
            quisquam maiores eos vitae, excepturi soluta! Reprehenderit alias quisquam sint soluta adipisci minus!</p>
    </body>

    </html>