body{
    font-family: Montserrat, sans-serif;
}
main{
    width: 60%;
    margin: 0 auto;
    /* x y and the y is auto and brings it to the center */
}
h1{
    font-size: 3rem;
    margin-bottom: 0;
}
h1+h2{
    margin-top: 10px;
}
h1,h2,h3{
    font-family: Roboto, sans-serif;
    font-weight: 100%;
}